<div class="backdrop is-hidden" data-modal>
    <div class="modal">
    <button class="modal-button" data-modal-close>
     <svg class="modal-icone"> 
       <use href="" width="12" height="12"></use>
       </svg> 
    </button> 
    <div></div>
    <div>
    <p>GET THE SCOOP!</p>
    <p>Sign up and be the first to know about exciting offers, product updates and more from our brand.</p>
    <button type="button" class="modal-form-btn">Join us now</button>
    <p>For further information, please refer to our  <a href="" class="link-modal">Privacy Notice.</a> </p>
    </div>
</div>
</div>