<div class="backdrop is-hidden" data-modal>
    <div class="about__modal">
    <button class="function-button" data-modal-close>
     <svg width="12" height="12"> 
       <use href=""></use>
       </svg> 
    </button>
    <div class="about__modal-thumb"> 
    <div class="about__modal-image"></div>
    <div>
    <p class="about__modal-exclamation">GET THE SCOOP!</p>
    <p>Sign up and be the first to know about exciting offers, product updates and more from our brand.</p>
    <button type="button" class="about__modal-button">Join us now</button>
    <p class="about__modal-paragraf">For further information, please refer to our  <a href="" class="about__modal-link">Privacy Notice.</a> </p>
    </div>
</div>
</div>
</div>