.modal-btn {
  font-family: DM Sans;
  padding: 14px 15px;
  min-width: 138px;
  font-size: 14px;
  line-height: 1.285;
  border-radius: 20px;
  border: none;
  color: var(--accent-primary-color);
  background-color: var(--light-text-color);

  transition: background-color $time-main $timing-function-main;

  &:focus,
  &:hover {
    background-color: var(--light-hover-color);
  }

  &-secendery {
    min-width: 102px;
    color: var(--light-text-color);
    background-color: var(--accent-primary-color);

    &:hover,
    &:focus {
      background-color: var(--accent-hover-color);
    }
  }
}
